Promsort/out
Promsort/.idea
Promsort/Promsort.iml
PrometheeTri/out
PrometheeTri/.idea
PrometheeTri/PrometheeTri.iml
PrometheeGAIA/.idea
PrometheeGAIA/out
PrometheeGAIA/PrometheeGAIA.iml
FlowSortI/.idea
FlowSortI/out
FlowSortI/FlowSortI.iml
FlowSortII/.idea
FlowSortII/out
FlowSortII/FlowSortII.iml
FlowSortGDSS/.idea
FlowSortGDSS/out
FlowSortGDSS/FlowSortGDSS.iml
PlotClassAssignment/.idea
PlotClassAssignment/out
PlotClassAssignment/PlotClassAssignment.iml
PrometheeGAIA/*
XMCDA-java-2.0.0-3-g1efea47.jar
oldLibraries/*