Promsort/out
Promsort/.idea
PrometheeTri/out
PrometheeTri/.idea
PrometheeGAIA/.idea
PrometheeGAIA/out
FlowSortI/.idea
FlowSortI/out
FlowSortII/.idea
FlowSortII/out
PrometheeGAIA/*
XMCDA-java-2.0.0-3-g1efea47.jar
oldLibraries/*